/*
 * Font imports
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
/*
 * Top navigation
 */

.nav-bar-unt {
  background-color: #27ae60;
  border: 0;
}
.nav-bar-unt .btn {
  margin-top: 7px;
}
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 0px;
  }
}
/*
 * User, Admin and Candidate Pages
 */

.profile-pic {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}
.profile-name {
  color: #fff;
  margin-right: 5px;
}
.dropdown-menu-open-left {
  right: 0;
  left: auto;
}
/*
 * Sidebar
 */

.sidebar {
  background-color: #2a2a2a;
}
/* Sidebar navigation */

.nav-sidebar {
  margin: 0 -15px 0px -15px;
  /* right padding: 20px padding + 2px border */
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #2980b9;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #2980b9;
}
.nav-sidebar > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.nav-sidebar > li {
  background-color: transparent;
}
.nav-sidebar-sub-menu {
  background-color: #3e3e3e;
  list-style-type: none;
}
.nav-sidebar-sub-menu > li > a {
  font-size: 15px;
  line-height: 32px;
  padding-left: 5px;
  color: #fff;
}
.nav-sidebar-sub-menu > li:first-child {
  padding-top: 8px;
}
.nav-sidebar-sub-menu > li:last-child {
  padding-bottom: 8px;
}
.nav-sidebar-sub-menu > li > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #3a9bdc;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 2px solid #eee;
  }
  .nav-sidebar {
    margin: 0 -22px 20px -20px;
    /* right padding: 20px padding + 2px border */
  }
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  font-weight: bold;
}
/*
 * Footer
 */

.footer {
  position: absolute;
  padding: 16px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #27ae60;
}
.footer-text {
  color: #fff;
}
.footer-text:hover {
  text-decoration: none;
}
/*
 * Components
 */

/* Info circles */

.info-circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
  line-height: 1;
  white-space: nowrap;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  padding-top: 12px;
}
.info-circle-red {
  color: #fff;
  background-color: #e74c3c;
}
.info-circle-green {
  color: #fff;
  background-color: #2ecc71;
}
.info-circle-blue {
  color: #fff;
  background-color: #2980b9;
}
.info-circle-yellow {
  color: #fff;
  background-color: #f39c12;
}
.info-circle-purple {
  color: #fff;
  background-color: #9b59b6;
}
/* Charts */

.bar-chart {
  padding-right: 25px;
}
/* Election winners */

.election-winners {
  padding-bottom: 10px;
}
.election-winners > li:first-child {
  width: 40px;
}
.election-winners h1 {
  margin-top: -10px;
}
.election-winners img {
  margin-top: -25px;
}
/* Icons */

.icon-vote-success {
  font-size: 64px;
  color: #27ae60;
}
/*
 * Helper classes
 */

.block-center {
  margin: 0 auto;
  float: none;
}
.hide-text-overflow {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 768px) {
  .text-right-sm {
    text-align: right;
  }
}
.result-pic {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
}
.text-muted-2x {
  color: #dbdbdb;
}
.no-underline:hover {
  text-decoration: none;
}